{
	email {$CADDY_ACME_EMAIL}
}

{$DANCED_DOMAIN} {
	header X-Robots-Tag "noindex"

	handle /api/* {
		reverse_proxy web:8000
	}

	handle_path /static/* {
		root * /srv/django-static
		file_server
	}

	handle_path /media/* {
		root * /srv/media
		file_server
	}

	handle {
		root * /srv/frontend
		try_files {path} /index.html
		file_server
	}
}
